*{margin: 0;padding: 0;box-sizing: border-box;}
header{
	width: 100%;
	height: 100px;
	background: red;
}
#main{
	width: 50%;
	margin: auto;
}
#grid1{
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	grid-template-rows: 100px 100px;
	
}
.col1{
	background: yellow;
	border: 1px solid black;
}
#slide{
	grid-column: span 4;
	grid-row: span 4;
	background: blue;
}
#green1{
	background: greenyellow;
}
#grid2left{
	display: grid;
	width: 50%;
	grid-template-columns: auto auto;
	grid-template-rows: 120px 120px ;
	float: left;
}
.colleft{
	background: orange;
	border: 1px solid black;
}
#green2{
	grid-column: span 2;
	background: lawngreen;
}
#orange{
	background: orange;
}
#pink1{
	background: deeppink;
}
#grid2right{
	display: grid;
	width: 50%;
	grid-template-columns: 50% 50%;
	grid-template-rows: 80px 80px 80px;
	float: left;
}
.colright{
	background: indianred;
	border: 1px solid black;
}
#red1{
	grid-row: span 2;
	background: red;
}
#green3{
	background: green;
}
#pink2{
	grid-column: span 2;
	background: lightpink;
}
#footer{
	width: 100%;
	height: 80px;
	background: red;
}

